@page "/"
@using BeatSaber_FakeMultiplay.Client.ResourceFiles.Shared
@using Microsoft.Extensions.Localization
@using BeatSaber_FakeMultiplay.Client.ResourceFiles.Index
@using System.Globalization
@inject IStringLocalizer<SharedResource> _sharedLocalizer
@inject IStringLocalizer<IndexResource> _localizer

<PageTitle>@_sharedLocalizer[nameof(SharedResource.NavHomeText)] - @_sharedLocalizer[nameof(SharedResource.AppTitle)]</PageTitle>

<div class="container">
    <h3>@_sharedLocalizer[nameof(SharedResource.NavHomeText)]</h3>
    <div class="row">
        <div class="col-12">
            <article>
                <h4>@_localizer[nameof(IndexResource.BeforeStartTitleText)]</h4>
                <div class="alert alert-info" role="alert">
                    @((MarkupString)_localizer[nameof(IndexResource.InstallationInfoText)].ToString())
                </div>
                <div class="alert alert-secondary" role="alert">
                    @((MarkupString)_localizer[nameof(IndexResource.BeforeStartContentText)].ToString())
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="/images/tutorial/en/app-installed.jpg"
                 class="rounded img-thumbnail"
                 alt="After installation"/>
        </div>
        <div class="col-12 col-lg-6">
            <img src="/images/tutorial/en/installing-the-app.jpg"
                 class="rounded img-thumbnail"
                 alt="Install the app"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="/images/overlay-1.png"
                 class="rounded img-thumbnail"
                 alt="Overlay single player"/>
        </div>
        <div class="col-12 col-lg-6">
            <img src="/images/overlay-2.png"
                 class="rounded img-thumbnail"
                 alt="Overlay multi-player"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <article>
                <h4>@_localizer[nameof(IndexResource.HowToTitleText)]</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L3bVOcuAjTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <pre style="white-space: pre-wrap; word-break: keep-all;">@((MarkupString)string.Format(_localizer[nameof(IndexResource.HowToContentText)],
                         $"<img src=\"/images/tutorial/{CultureInfo.CurrentCulture.TwoLetterISOLanguageName}/create-room.jpg\" class=\"rounded img-thumbnail\" alt=\"Create a new room\" />",
                         $"<img src=\"/images/tutorial/{CultureInfo.CurrentCulture.TwoLetterISOLanguageName}/connect-to-room.jpg\" class=\"rounded img-thumbnail\" alt=\"Connect Beat Saber to the room\" />",
                         "<img src=\"/images/tutorial/en/obs-browser-source.jpg\" class=\"rounded img-thumbnail\" alt=\"OBS Overlay\" />"))</pre>
            </article>
        </div>
    </div>
</div>

@code {

}